*{
    margin: 0px;
    padding: 0px;
    background: #000;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
}
input{
    /* color: white; */
    border: 1px solid red;
    height: 80px;
    width: 400px;
}
button{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}   
.sign{
    background-color: #FE9E0B;
}
.numbers{
    background-color: #323232;
}
.numbers-1{
    background-color: #323232;
}
@media screen and (min-width:0px) and (max-width:690px) {
    button{
        height: 80px;
        width: 80px;
    }
}
@media screen and (min-width:400px) and (max-width:450px) {
    button{
        height: 60px;
        width: 60px;
    }
}
@media screen and (min-width:0px) and (max-width:400px) {
    button{
        height: 50px;
        width: 50px;
    }
}